@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}
/* ::-webkit-scrollbar-track {
  @apply bg-[#000300];
} */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-500;
}
::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}
.scroll-none::-webkit-scrollbar {
  display: none;
}
body {
  @apply bg-black text-white;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .br {
    @apply border border-[red] border-solid;
  }
  .text-balance {
    text-wrap: balance;
  }
}
