@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}

body {
  @apply bg-black text-white;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .br {
    @apply border border-[red] border-solid;
  }
  .text-balance {
    text-wrap: balance;
  }
}
