@tailwind base;
@tailwind components;
@tailwind utilities;

/* --primary: #ffb433 */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #ffb433; /* 11.2% */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: #ffb433;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
/* ::-webkit-scrollbar-track {
  @apply bg-[#000300];
} */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-500;
}
::-webkit-scrollbar {
  @apply w-[2px] h-[2px];
}
.scroll-none::-webkit-scrollbar {
  display: none;
}
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner buttons in Firefox */
.custom-number-input {
  -moz-appearance: textfield;
}
body {
  @apply bg-background text-[var(--foreground)];
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .br {
    @apply border border-primary border-solid;
  }
  .text-balance {
    text-wrap: balance;
  }
  .set-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  .hover-underline-lr {
    @apply inline-block relative after:content-[""] after:absolute after:w-full after:h-[1px] after:bg-current after:origin-bottom-right after:transition-transform after:duration-300 after:ease-in-out after:scale-x-0 after:left-0 after:bottom-0 hover:after:origin-bottom-left hover:after:scale-x-100;
  }
  .hover-link {
    @apply no-underline inline-block relative after:content-[''] after:block after:h-0.5 after:absolute after:w-0 after:bg-current after:left-2/4 after:-bottom-1 after:transition-all after:duration-300 hover:after:w-full hover:after:left-0 active:after:w-full active:after:left-0;
  }
  .range-input-style {
    @apply appearance-none bg-transparent [&::-webkit-slider-runnable-track]:rounded-full [&::-webkit-slider-runnable-track]:bg-black/25 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:h-5 [&::-webkit-slider-thumb]:w-5 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-primary cursor-pointer;
  }
}
@font-face {
  font-family: "DM-sans-bold";
  src: url("../public/fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DM-sans";
  src: url("../public/fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DM-sans-semibold";
  src: url("../public/fonts/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../public/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-semibold";
  src: url("../public/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Cinzel-Bold";
  src: url("../public/fonts/Cinzel-Bold.ttf");
}
@font-face {
  font-family: "Bebas-Neue";
  src: url("../public/fonts/BebasNeue-Regular.ttf");
}

.button-default {
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid var(--primary);
  border-radius: 25px;
  padding: 1.25rem 2rem;
  backdrop-filter: blur(10px);
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.button-hover {
  background-color: var(--primary);
  color: white;
  font-family: 'Montserrat-bold', sans-serif;
  border: 2px solid #fff
}
.cursorLeft {
  cursor: url('../public/cursor1.svg'), auto;
}
.cursorRight {
  cursor: url('../public/cursor2.svg'), auto;
}

@media screen and (max-width: 768px) {
  .button-default {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid var(--primary);
  }
  
}